
<!DOCTYPE HTML>
<script src="{{url_for('static', filename='main.js')}}"></script>


<html>
<!--<script src="{{url_for('static', filename='main.js')}}"></script>-->
<!--<script src="{{url_for('static', filename='main.js')}}"></script>-->
	<head>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


		<title>Dissertation Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/styles/main.css" />
<!--				<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<!--		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">-->




	</head>
	<body class="is-preload">

<!--		<img src="{{url_for('static', filename='images/bg01.jpg')}}" alt="Description for image" width="250" height="250">-->


		<!-- Header -->
			<header id="header">
				<h1>{{tw_id}} Tweets</h1>
				<p>Below are the tweets of user {{tw_id}}.</a>.</p>
			</header>

{% for tweet in tweets %}
{% if tw_id == tweet %}
{% for twt in tweets[tweet] %}
<p>{{twt}}</p>

{% endfor %}
{% endif %}
{% endfor %}



		<!-- Footer -->
			<footer id="footer">

			</footer>

		<!-- Scripts -->
			<script src="static/main.js"></script>


	</body>
</html>